body{
    font-family: 'Inter', sans-serif;
    background-color: #101010;
    color: #FFFFFF;
}




.container{
    display: flex;
    justify-content: space-between;
    max-width: 1210px;
    padding: 100px 15px;
    margin: 0 auto;
    align-items: center;
}

.img-ava{
    padding-top: 111px;
}

.title{
font-weight: 900;
font-size: 38.3462px;
line-height: 46px;
color: #FFFFFF;
margin-bottom: 16px;
}

.text1{
font-size: 18px;
line-height: 22px;
margin-bottom: 16px;
}

.subtitle{
font-size: 18px;
line-height: 22px;
margin-bottom: 16px
}

.text3{
font-size: 14px;
line-height: 17px;
margin-bottom: 35px
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.btn{
    display: flex;
    align-items: center;
}

.info_item{
    padding-right: 15px;
}

.btn{
    column-gap: 30px;
}

.btn-item{
    display: flex;
    align-items: center;
    width: 208.11px;
    height: 58.5px;
    left: 697px;
    top: 460.65px;
    background: #363636;
    border-radius: 8.35766px;
}

.pr{
    margin: 0 auto;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 7px;
}

.oi{
    padding-left: 7px;
}

/*end*/


.container-porfolio{
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item-img{
    border-radius: 20px;
    margin-bottom: 43px;
    margin-right: auto;
    margin-left: auto;
}


